/* Style for textbox */
.first-name, .family-name{
    width: 95px;
    /* border-color: #555; */
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    /* display: inline-block; */
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    /* box-sizing: border-box; */
}

/* Style for First name popup */
.popup-first-name{
    /* visibility: hidden; */
    width: 160px;
    padding: 8px 0px;
    text-align: center;
    top: -25px;
    left: 0px;
}
.popup-first-name::after{   
    top: 23px;
    left: -16%;
    border-color:var(--popup-background-color) transparent transparent transparent ;
}

/* Style for Family name popup */
.popup-family-name{
    width: 160px;
    /* padding: 8px 0px; */
    /* top: -7px; */
    /* left:40%; */
    /* text-align: center; */
}
.popup-family-name::after{
    /* top: 30%; */
    /* left: -21.2%; */
}

/* Style for Email popup */
.popup-email{
    /* width: 340px; */
    /* padding: 8px 8px; */
    /* top: 138px; */
    /* top:15px; */
    width: 280px;
}
.popup-email::after{
    /* top: 22%;
    left: -80%;     */
}

/* Style for password and retype popup */
.popup-pass{
    /* width: 318px;
    padding: 8px 8px;
    top: 20px; */
}
.popup-pass::after{
    /* top: 22%;
    left: -98.5%; */
}
.popup-retype{
    /* width: 200px;
    padding: 8px 8px;
    text-align: center;
    top: 22px; */
    width:200px;
}
.popup-retype::after{
    /* top: 30%;
    left: -31.3%; */
}